.centered {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.tasks {
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  margin: 10px 0 10px 0;
}

.task-completed {
  text-decoration: line-through;
  color: grey;
}

.subtask {
  display: block;
  font-weight: 600px;
  margin: 10px 0 10px 0;
}

.subtask-completed {
  text-decoration: line-through;
  color: grey;
}

.input-field {
  width: 100px;
  opacity: 100%;
}

.add-task {
  border: none;
  color: black;
  font-size: 19px;
  cursor: pointer;
  background-color: #fff;
}
