.centered {
  margin: auto;
  width: 40%;
  padding: 10px;
}
.tasks {
  font-weight: bold;
  display: block;
  margin: 10px 0 10px 0;
}

.task-completed {
  text-decoration: line-through;
  color: grey;
}

.subtask {
  display: block;
  font-weight: 600px;
  margin: 10px 0 10px 0;
}

.subtask-completed {
  text-decoration: line-through;
  color: grey;
}
